/* WP booklet editor */

.wp-booklet-sortable {
	margin-bottom:25px;
}

.wp-booklet-sortable .ui-sortable-placeholder { 
	visibility: visible !important;
	background:transparent !important;
	border-style:dashed !important;
}
.wp-booklet-sortable .wp-booklet-portlet-header {
	background: linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;
	padding:5px;
	text-shadow: 0 1px 0 #FFFFFF;
	cursor:move;
}

.wp-booklet-sortable .wp-booklet-portlet {
	border:1px solid #DFDFDF;
	margin-bottom:5px;
	background:#F1F1F1;
}

.wp-booklet-sortable .wp-booklet-portlet-content {
	border-top:1px solid #DFDFDF;
	padding:10px;
	background:linear-gradient(to top, #F5F5F5, #F9F9F9) repeat scroll 0 0 #F5F5F5;
}

.wp-booklet-sortable .wp-booklet-portlet-header-buttons {
	display:block;
	float:right;
}

.wp-booklet-sortable .wp-booklet-portlet-header-buttons * {
	vertical-align:middle;
}

.wp-booklet-sortable .wp-booklet-img {
	width:100%;
	display:block;
	margin-bottom:10px;
}

.wp-booklet-sortable .wp-booklet-header-remove {
	display:inline-block;
	width:15px;
	height:15px;
	background:url("../images/icon-close.png") 0 no-repeat;
	cursor:pointer;
}

.wp-booklet-sortable .wp-booklet-header-visibility {
	display:inline-block;
	width:17px;
	height:8px;
	margin-right:10px;
	cursor:pointer;
	background:url("../images/icon-arrows.png") 0 -8px no-repeat;
}

.wp-booklet-portlet-hidden .wp-booklet-header-visibility {
	background-position:0 0;
}

.wp-booklet-sortable .wp-booklet-portlet-content-left {
	width:30%;
	float:left;
}

.wp-booklet-sortable .wp-booklet-portlet-content-right {
	width:68%;
	float:right;
}

.wp-booklet-sortable .clearfix {
	clear:both;
}

.wp-booklet-sortable .wp-booklet-page-placeholder {
	width:100%;
	min-height:33px;
}

.post-type-wp-booklet2 #minor-publishing-actions,
.post-type-wp-booklet2 #misc-publishing-actions {
	display:none;
}

.wp-booklet-property-note {
	font-size:10px;
	font-style:italic;
	display:block;
}

.wp-booklet-portlet-hidden .wp-booklet-portlet-content {
	display:none;
}

.wp-booklet-preloader-overlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	background:#fff url("../images/preloader.gif") center center no-repeat;
	display:none;
	opacity:0;
	filter:alpha(opacity=0);
}

.wp-booklet-preloader-note {
	text-align:center;
	position:fixed;
	top:55%;
	width:100%;
	height:45%;
}

