/* Importer nag */

.error.wp-booklet2-import-nag {
	padding-top:20px;
	padding-bottom:20px;
	border-color:orange;
	border:2px solid orange;
}

/* Importer page */

.wp-booklet2_page_wp-booklet2-import .reimport-count {
	display:none;
}

.wp-booklet2_page_wp-booklet2-import .importer-page-message {
	display:none;
}